@charset "UTF-8";

html {

	font-size: 62.5%;
}

*,
*::befor,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: url("../images/ca_bg.jpg") no-repeat fixed left bottom;
	background-size: cover;
}

header {
	display: block;
	position: relative;
	margin: 3vw 0;
	padding: 1vw 0;
	width: 100%;
	height: 5vw;
	background-color: rgb(255, 255, 255, 0.6);
}

.castTitle {
	display: block;
	position: absolute;
	margin-top: auto;
	margin-bottom: auto;
	width: 100%;
	height: 5vw;
	font-size: 3vw;
	line-height: 1.8;
}

.liveDate {
	display: block;
	position: relative;
	margin-left: 1vw;
	margin-bottom: 1.3vw;
	width: 98%;
	height: 4vw;
	background-color: rgb(255, 255, 255, 0.6);
	line-height: 1.3;
}

.liveDate h2 {
	margin: 0;
	font-size: 2vw;
}

.liveDate time {
	margin: 0;
	font-size: 1.3vw;
}

.castInfo {
	display: inline-block;
	position: relative;
	margin: 1vw 1vw;
	width: 30%;
	height: 10vw;
	background-color: rgb(255, 255, 255, 0.6);
}
